.stallion-report{
    background: #F4F1EF;
    border-radius: 8px;
}

.stallion-report .report-links{
    display: flex;
    align-items: center;
}


.stallion-report .report-links li{
    font-family: 'Synthese-Book';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.01rem;
    color:#626E60;
}

.stallion-report .report-links li:hover{
    background: none;
}

.stallion-report .report-links li i{
    position: relative;
    top:2px;
    margin-right: 8px;
}

.stallion-report .progressbar{
    background: #ffffff;
    border-radius: 8px;
    padding: 2.5%;
    margin-left: auto;
    
}

.stallion-report .report-links li .icon-Share:before{
font-size: 20px;
}

.stallion-report .report-links .MuiButton-root{
    font-family: 'Synthese-Book';
    color: #626E60;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0;
}

.stallion-report .report-links .MuiButton-root:hover{
    background:none;
    margin-left: auto;
    
}
.stallion-report .report-links .MuiButton-root:has(.MuiCircularProgress-svg){
    padding-left: 20px;
}
.stallion-report .report-links .MuiLoadingButton-root .MuiCircularProgress-root{
    position: relative;
    left: -50px;
    top:2px;
}
.stallion-report .report-links .MuiLoadingButton-root .MuiCircularProgress-root .MuiCircularProgress-svg {
    color: #007142 !important;
}

.stallion-report .progressbar .MuiLinearProgress-root {
    background: #E2E7E1;
    height: 6px;
}
.StallionMatchActivityFS .ListBtn.Mui-disabled {
    color: #626E60;
    border-color: #B0B6AF;
}
.Linechart-StMatchActvty  .no-graph-data {
    margin: 0 auto;
    padding: 20px;
    font-family: 'Synthese-Book';
    font-size: 18px;
    color: #626E60;
    width: 200px;
    font-weight: 400;
    text-align: center;
    background-color: #ede9e6;
    border-radius: 4px;
}
.stallion-report .progressbar h6{
    font-family: 'Synthese-Regular';
    font-weight: 400;
    font-size: 12px;
    color:#161716;
    
}


/* Key Statistics */
.KeyStatisticsWrapper .stallion-analytics {
    background: none;
    border-radius: 0 !important;
}
.KeyStatisticsWrapper .stallion-analytics h6 {
    font-size: 18px;
    margin-bottom: 4px;
    letter-spacing: -0.01em;
    line-height: 28px;
}

.KeyStatisticsWrapper .stallion-analytics hr.MuiDivider-root.MuiDivider-fullWidth.MuiDivider-vertical {
    margin: 0px 56px;
}
.stallion-analytics-row {
    margin-bottom: 20px;
}
.arrowUpBlock {
    color: #007142;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Synthese-Regular';
    margin-left: 7px;
    margin-bottom: 9px;
}

.arrowUpBlock i {
    margin-right: 2px;
    font-size: 16px;
    position: relative;
    left: 3px;
    vertical-align: text-bottom;
}

.key-statics-box h4.MuiTypography-root {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}
.arrowDownBlock {
    color: #C75227;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Synthese-Regular';
    margin-left: 7px;
    margin-bottom: 9px;
}

.arrowDownBlock i {
    margin-right: 2px;
    font-size: 16px;
    position: relative;
    left: 3px;
    vertical-align: text-bottom;
}
.KeyStatisticsWrapper .stallion-analytics h6 i.icon-Info-circle {
    font-size: 22px;
    margin-left: 5px;
    position: relative;
    top: 4px;
}


/* matched-mare-table-para */
.matched-mare-table-para{
    color: #626E60;
    letter-spacing: -0.01em;
    font-weight: 400;
font-size: 18px;
line-height: 28px;
font-family: 'Synthese-Book';
}
.stakes-winner-wrapper .MuiContainer-root {
    padding: 0;
    margin: 0;
}

.common-table-scroll .MuiContainer-root {
    padding: 0;
    margin: 0;
}





  .stallion-report-datatable .MuiContainer-root {
    padding: 0;
    margin: 0;

}
.stallion-report .progressbar i.icon-Info-circle {
    cursor: pointer;
    position: relative;
    top: 5px;
    color: #161716;
}
.stallion-report-datatable .SDpagenation {
    margin-bottom: 0;
    margin-top: 24px;
}
.KeyStatisticsWrapper .MuiAccordionDetails-root {
    padding: 0;
}
.DataList th.matched-yob,.DataList td.matched-yob {
    min-width: 120px;
}
.DataList td.matched-prize,.DataList th.matched-prize {
    min-width: 100px;
}
.DataList td.matched-dam,.DataList th.matched-dam {
    min-width: 160px;
}
.matched-mare-table-wrapper .DataList td, .matched-mare-table-wrapper .DataList th{
    min-width: 120px;
}
.progeny-tracker-datatable .DataList td, .progeny-tracker-datatable .DataList th {
    min-width: 120px;
}

.roaster-block-left i.icon-Info-circle {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.report-chart.fullscreen.fullscreen-enabled .SPtreechat.StallionMatchActivityGraph{
    height: inherit;
    justify-content: center;
    margin: 0px;
}
.line-chart-report .Linechart-Graph{
    height: 400px;
}
.report-chart.fullscreen.fullscreen-enabled .SPtreechat.StallionMatchActivityGraph .StMatchActvtyInfo {
    padding-bottom: 0;
}

.stallion-report-controller .roaster-block-left h6.MuiTypography-root {
    font-size: 18px;
    margin-bottom: 4px;
    letter-spacing: -0.01em;
    line-height: 28px;
}

.stallion-report-controller .roaster-block-right h4.MuiTypography-root {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}

.stallion-report-controller hr.MuiDivider-root {
    margin-right: 46px;
    background: #B0B6AF;
    border: solid #B0B6AF 2px;
    border-right: 0;
}
.stallion-report-controller .trends-select-box {
    width: 168px;
}
/* mediaquery */
@media only screen and (max-width: 1024px) {
    .key-statics-box h4.MuiTypography-root {
        font-size: 30px;
    }

    .StMatchActvtyInfo hr.MuiDivider-root {
        margin-right: 20px;
    }
    .report-chart.fullscreen.fullscreen-enabled .SPtreechat.StallionMatchActivityGraph{
        height: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .stallion-report .report-links {align-items: start;margin-top: 10px;margin-bottom: 20px;}
    .stallion-report .report-links li {margin: 0;padding: 0;}
    .stallion-report .report-links ul.css-h4y409-MuiList-root {padding: 0;margin: 0;height: 40px;}
    .stallion-report .progressbar {padding: 5%;width: 100%;box-sizing: border-box;}
    .stallion-match-activity {
        padding-top: 0;
        margin-top: 0;
    }
    .matched-mares-datatable .DataList tbody td,.matched-mares-datatable .DataList tbody th {
        min-width: 140px;
    }
    
    .stallion-match-activity .trends-header-wrapper {
        padding-top: 0;
    }
    .stallion-report {
        padding: 24px 10px;
    }
    .key-statics-box h4.MuiTypography-root {
        font-size: 32px;
    }
    
    .KeyStatisticsWrapper .stallion-analytics hr.MuiDivider-root {
        margin: 10px 0px !important;
    }
    
    .stallion-analytics-row {
        margin-bottom: 0;
        padding-bottom: 0;
    
    }
    
    .key-statics-box {
        margin-top: 0 !important;
        align-items: center;
    }
    
    .stallion-report-datatable .MuiContainer-root {
        padding: 0;
        margin: 0;
        width: 850px;
    }

    .stallion-report-datatable .SPracerecordCount span {
        line-height: inherit;
    }
    
    .stallion-report-datatable {
        overflow: hidden;
    }
    .stallion-report-datatable .SPracerecord {
        max-width: 16.666667%;
        -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
        flex-basis: 16.666667%;
    }
    .stallion-report-controller .roaster-block-right h4.MuiTypography-root {
        line-height: 48px;
        font-size: 32px;
    }
    
    .stallion-report-controller hr.MuiDivider-root {
        border-top: 0;
        border-bottom: 1px solid #B0B6AF;
        margin: 10px 0px;
        /* display: block; */
    }
    

    
    .stallion-keystatics-block .roaster-block {
        margin: 0;
    }
    
    .stallion-keystatics-block .roaster-lines-anlaytics {
        margin: 0;
        padding: 0;
    }
    
    .stallion-keystatics-block .MuiAccordionDetails-root {
        border-top: 1.5px solid #B0B6AF;
        /* padding-top: 9px; */
    }
    
    .stallion-report-controller .roaster-block-left h6.MuiTypography-root {
        margin: 0;
    }


.StMatchActvtyInfo .graph-list-block {
    margin-top: 0px;
}
    .StMatchActvtyInfo .graph-list-block-wrapper{
    padding-bottom: 0px;
    border-top: 1.5px solid #B0B6AF;
    }
    .stallion-keystatics-block .roaster-block-left {
        padding-right: 20px;
    }


}

@media only screen and (max-device-height: 767px) {
    .report-chart.fullscreen.fullscreen-enabled .SPtreechat.StallionMatchActivityGraph{
        height: initial;
    }
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 900px) 
  and (orientation: landscape) {
    .report-chart.fullscreen.fullscreen-enabled .SPtreechat.StallionMatchActivityGraph{
        height: initial;
    }
  }
