.errorBg{
    background:url(../assets/Images/Errorpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(55%) calc(30%);
    position: relative;
    width: 100%;
    height:100vh;
}

.errorBg .Return{
    background-color: #2EFFB4;
    color: #1D472E;
    font-family: 'Synthese-Regular';
    font-size: 16px;
    text-align: center;
    margin-top: 1rem;
    border-radius: 4px;
    width: 210px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    letter-spacing: 0.01rem;
}

.errorBg .Return:hover{
    background-color: #00DE8E;
    color:#1D472E;
}

.errorBg span{
    font-family: 'Synthese-Book';
    font-size: 20px;
    color: #1d472e;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 32px;
} 

.errorGreenTiles{
    position: absolute;
    bottom:0;
    right: 0;
    background:url(../assets/Vectors/bottomGreenTiles.svg);
    width: 612px;
    height: 90px;
}

.greenBorder{
    background-color:#005632 ;
    height: 30px;
}

/* ................................ Secret key popup page................................... */
.secretkey{
    width:100vw; 
    height:100vh;
    background-color:#000;
    display: flex;
    justify-content:center; 
    align-items: center;
  }
  
  .secretkey .SK-box{
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #1D472E;
    display: block;
    border: solid 6px #d4d4d4;
  }
  
  .secretkey label{
    font-family: Synthese Book;
    font-style: normal;
    color: #ffffff;
  }
  
  .secretkey .SK-field{
    padding: 14px 16px;
    margin: 0px;
    border: solid 1px #ffffff;
    outline: solid 1px transparent;
    border-radius: 4px;
    width: 100%;
    font-family: 'Synthese-Regular';
    font-size: 14px;
    color: #1D472E;
    height: 48px;
    box-sizing: border-box;
    line-height: 20px;
  }
  
  .secretkey .SK-field:focus{
    border: solid 1px #ffffff;
    outline: solid 1px transparent;
  }
  
  .secretkey .SK-btn{
    background: #2EFFB4;
    color: #1D472E;
    display: flex;
    width: 100%;
    font-size: 16px;
    text-transform: none;
    padding: 8px 0px 12px;
    font-family: 'Synthese-Regular';
    height: 48px;
  }

  .secretkey .SK-btn:hover{
      background: #00DE8E;
  }

  .secretkey h6{
      color: #C75227;
      padding-top: 1rem;
  }



  /* media-query */
  @media only screen and (max-width: 767px) {
      .secretkey .SK-box {
        padding: 24px;
      }
  }